DISCORD_TOKEN=YOUR_DISCORD_BOT_TOKEN
TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
ALLOWED_DISCORD_USER_ID=YOUR_DISCORD_USER_ID
ALLOWED_TELEGRAM_USER_ID=YOUR_TELEGRAM_USER_ID

QDRANT_URL=PASTE_HERE_QDRANT_URL
QDRANT_API_KEY=PAST_HERE_QDRANT_API_KEY
QDRANT_COLLECTION=PAST_HERE_QDRANT_COLLECTION

APIROC_USER_ID=YOUR_APIROC_USER_ID
APIROC_APP_ID=YOUR_APIROC_APP_ID
APIROC_API_KEY=YOUR_APIROC_API_KEY

OPENROUTER_API_KEY=YOUR_OPENROUTER_API_KEY
OPENROUTER_BASE_URL=OPENROUTER_BASE_URL
OPENROUTER_CHAT_MODEL=OPEN_ROUTER_MODEL
OPENROUTER_EMBED_MODEL=OPEN_ROUTER_EMBED_MODEL
OPENROUTER_REFLECTION_MODEL=OPEN_ROUTER_MODEL
OPENROUTER_DECISION_MODEL=OPEN_ROUTER_DECISION_MODEL